---
import Head from "../components/Head.astro";

const meta = {
  title: "Token CSS",
  description: "Your new favorite way to write CSS ✨",
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <Head {...meta} />

    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      body {
        font-family: sans;
        min-height: screen;
        display: flex;
        flex-direction: column;
        color: gray.7;
      }

      div {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: full;
        max-width: 720px;
      }

      .logo {
        width: 75%;
        height: auto;
      }

      a {
        display: flex;
        gap: 0.25em;
        font-size: 1.5rem;
        color: inherit;
        text-decoration: none;
        align-items: center;
        border-bottom: 1px solid currentColor;
      }

      .visually-hidden {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      }
    </style>
  </head>

  <body>
    <div>
      <h1 class="visually-hidden">Token CSS</h1>
      <svg
        class="logo"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        width="720"
        height="500"
        viewBox="0 0 720 500"
      >
        <path
          d="M115.461 394v-75.139h21.523v-16.368H76.0229v16.368h21.3946V394h18.0435Zm49.801 1.289c19.719 0 33.252-14.048 33.252-34.927 0-20.879-13.533-35.057-33.252-35.057-19.461 0-32.994 14.178-32.994 35.057s13.533 34.927 32.994 34.927Zm0-15.982c-9.279 0-15.852-7.475-15.852-19.074 0-11.6 6.573-19.075 15.852-19.075 9.537 0 16.239 7.475 16.239 19.075 0 11.599-6.702 19.074-16.239 19.074Zm75.964-21.136 27.195-31.448h-20.364l-23.199 27.452c1.031-9.795 1.031-23.328 1.031-56.837h-17.528V394h17.528c0-14.95-.128-24.359-.902-31.576L248.186 394h20.364l-27.324-35.829Zm59.562-32.866c-18.945 0-31.834 14.435-31.834 35.185 0 21.266 13.404 34.799 32.865 34.799 14.564 0 26.421-9.151 29.644-22.297l-15.338-1.675c-2.448 5.67-7.217 9.408-14.177 9.408-8.248 0-14.563-6.057-15.337-14.95h46.011c.903-27.323-12.63-40.47-31.834-40.47Zm0 14.178c8.249 0 14.049 5.799 14.178 14.306h-28.355c.387-8.764 6.187-14.306 14.177-14.306Zm78.348-14.178c-9.28 0-15.595 3.996-19.332 10.956l-2.32-9.538h-15.08V394h17.786v-38.407c0-10.182 5.284-15.208 12.889-15.208 6.315 0 12.501 3.351 12.501 14.692V394h17.786v-41.629c0-18.817-11.342-27.066-24.23-27.066Zm102.042 69.855c12.115 0 19.848-4.124 22.941-6.315v-17.271c-2.191 2.32-9.408 7.347-20.621 7.347-15.079 0-26.937-12.502-26.937-30.674 0-18.173 11.729-30.674 26.937-30.674 11.213 0 18.43 5.026 20.621 7.346v-17.27c-3.093-2.191-10.826-6.316-22.941-6.316-24.23 0-42.66 19.848-42.66 46.914 0 27.065 18.43 46.913 42.66 46.913Zm63.396.129c17.399 0 30.159-9.666 30.159-25.648 0-28.87-40.598-26.292-40.598-44.464 0-5.285 3.995-8.636 9.666-8.636 6.444 0 10.568 4.511 10.826 13.791l18.172-.387c-.128-17.657-11.599-28.741-29.385-28.741-16.497 0-27.838 10.182-27.838 24.746 0 28.354 40.082 28.225 40.082 44.98 0 5.155-3.995 9.022-10.955 9.022-7.604 0-13.275-4.898-13.404-14.951h-18.688c.129 16.626 11.342 30.288 31.963 30.288Zm68.343 0c17.399 0 30.159-9.666 30.159-25.648 0-28.87-40.598-26.292-40.598-44.464 0-5.285 3.995-8.636 9.666-8.636 6.444 0 10.568 4.511 10.826 13.791l18.173-.387c-.129-17.657-11.6-28.741-29.386-28.741-16.497 0-27.838 10.182-27.838 24.746 0 28.354 40.082 28.225 40.082 44.98 0 5.155-3.995 9.022-10.955 9.022-7.604 0-13.275-4.898-13.404-14.951h-18.688c.129 16.626 11.342 30.288 31.963 30.288Z"
        ></path>
        <path
          fill-rule="evenodd"
          d="m362.782 87.9317-2.364-1.3646-2.363 1.3646-73.691 42.5453-2.364 1.365v90.549l2.364 1.365 73.691 42.545 2.363 1.365 2.364-1.365 73.691-42.545 2.363-1.365v-90.549l-2.363-1.365-73.691-42.5453ZM317.31 157.687l-25.855-14.928v74.174l64.236 37.087v-29.863c1.555.154 3.131.233 4.727.233 1.595 0 3.172-.079 4.728-.233v29.863l64.236-37.087v-74.174l-25.857 14.928a47.291 47.291 0 0 0-4.734-8.183l25.864-14.933-64.237-37.0867-64.236 37.0867 25.863 14.932a47.2029 47.2029 0 0 0-4.735 8.184Z"
          clip-rule="evenodd"></path>
        <circle
          cx="360.418"
          cy="177.118"
          r="42.5455"
          fill="none"
          stroke="currentColor"
          stroke-width="9.4545"></circle>
        <path
          d="M380.055 157.062c-11.076-11.076-29.035-11.076-40.112 0-1.832 1.832-3.361 3.852-4.586 5.998-.165.287-.323.576-.476.868-5.625 10.704-3.938 24.247 5.062 33.246 5.427 5.427 12.505 8.195 19.617 8.305.146.002.293.003.439.003 7.259 0 14.518-2.769 20.056-8.308 9.306-9.305 10.794-23.468 4.464-34.326-1.205-2.067-2.693-4.015-4.464-5.786Z"
        ></path>
      </svg>
      <a href="https://github.com/tokencss/tokencss">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          role="img"
          width="32"
          height="32"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 32 32"
          ><path
            d="M14.688 3l-.313.281L7.594 10H2v16h16.844c1.41 0 2.64-.996 2.937-2.375L23.438 16H27c1.645 0 3-1.355 3-3s-1.355-3-3-3H16.25l.188-.75c.203-.156.332-.223.625-.625c.468-.64.937-1.633.937-2.969C18 4.23 16.71 3 15.094 3zm.718 2.094c.422.082.594.254.594.562c0 .903-.273 1.461-.531 1.813c-.258.351-.438.437-.438.437l-.344.188l-.124.406l-.594 2.25l-.313 1.25H27c.566 0 1 .434 1 1c0 .566-.434 1-1 1h-5.188l-.187.781l-1.781 8.438c-.102.468-.524.781-1 .781H9V11.406zM4 12h3v12H4z"
            fill="currentColor"></path>
        </svg>
        <span>Open on GitHub</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          role="img"
          width="32"
          height="32"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 32 32"
          ><path
            d="M16.906 3C15.29 3 14 4.23 14 5.656c0 1.336.469 2.328.938 2.969c.292.402.421.469.624.625l.188.75H5c-1.645 0-3 1.355-3 3s1.355 3 3 3h3.563l1.656 7.625A3.016 3.016 0 0 0 13.156 26H30V10h-5.594l-6.781-6.719L17.312 3zm-.312 2.094L23 11.406V24h-9.844c-.476 0-.898-.313-1-.781l-1.781-8.438l-.188-.781H5c-.566 0-1-.434-1-1c0-.566.434-1 1-1h13.344l-.313-1.25l-.593-2.25l-.125-.406l-.344-.188s-.18-.086-.438-.437c-.258-.352-.531-.91-.531-1.813c0-.308.172-.48.594-.562zM25 12h3v12h-3z"
            fill="currentColor"></path>
        </svg>
      </a>
    </div>
  </body>
</html>
